.browse{
    justify-content: center;
    padding-top: 2rem;
    background-color: #5271FF;
}
.browse .contain-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.browse .card{
    text-align: left;
}
.browse .card-title{
    color:   #5271FF;
    padding-bottom: 1.5rem;
}
/* .browse .icons{
    color: #5271FF;
}
.browse .apply-btn{
    background-color:  #5271FF;
    color: white;
    padding: 8px 16px;
    border-radius: 8px 8px 8px 8px;
}
.browse .apply-btn:hover{
    opacity: .5;
    transition: ease .5s;
    cursor: pointer;
} */