.contact{
    background-color: #eee;
}
.contact h2{
    padding-top: 3rem;
    margin-bottom: -1rem;
}
.contact .centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Adjust the height to your preference */
    margin: 0 auto;
    padding: 20px;
}
.contact .centered-form .white-input{
    background-color: white;
}