@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Josefin+Sans:ital,wght@1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,500;1,6..12,700&family=Nunito:wght@300;500;700&family=Playpen+Sans:wght@200;500&family=Quicksand:wght@400;500&family=Roboto:wght@100;300;500&display=swap');

.home{
    font-family: 'Gabarito', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.home .home-bg img{
    position: relative;
    width: 91rem;
    background-size: cover;
    filter: brightness(28%);
    height: 100vh;
}
.home .words{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: white;
}
.home .words h2{
    color: rgb(0, 17, 255);
    font-size: 2.5rem;
}
@media( max-width : 650px){
    .home .home-bg img{
        height: 100vh;
        /* width: 50rem; */
    }
    .home .words h2{
        font-size: 2.2rem;
    }
    .home .words{
        top: 58%;
    }
}
