.logo{
    width: 3rem;
}
.logo-word{
    color:#5271FF;
    padding-left: 1rem;

}
.menu-icon{
    color:#5271FF;
    font-size: 2rem;
}
.grey-word{
    color: grey;
}
.btn-sign{
    border-color: #5271FF;
    border-style: solid;
    color: #5271FF;
}
.btn-sign:hover{
    background-color: #5271FF;
    color: white;
    border-color: #5271FF;
}
.user-icon{
    color:#5271FF;
    font-size: 2.2rem;
    margin-right: 2rem;
    cursor: pointer;
}
.user-icon:hover{
    color: #879bf1;
}